build/*/build
build/*/dist
build/*/build.xml
build/*/nbproject/private
client/*/build
client/*/dist
client/*/build.xml
client/*/nbproject/private
platform/*/.lock
platform/*/.terminal
platform/*/client.conf
platform/*/osiris2
platform/*/reports
platform/*/bin/.lock
platform/*/bin/.terminal
platform/*/bin/osiris2
platform/*/bin/reports
platform/*/build
platform/*/dist
platform/*/build.xml
platform/*/nbproject/private
platform/*/*/build
platform/*/*/dist
platform/*/*/build.xml
platform/*/*/nbproject/private
